@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Poppins:wght@200;300;400;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

body{
  background: rgb(238, 238, 238);
  font-family: 'Poopins', sans-serif;
  color: #FFF;
}

.main-body{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.68);
  background: #FFF;
}
.sidebar{
  position: fixed;
  width: 274px;
  height: 1248px;
  flex-shrink: 0;
  background: #0E346C;
}
.sidebar-container{
  padding: 1rem;
}
.sidebar-container li{
  list-style: none;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.sidebar-container li:hover{
  display: flex;
  color: #C4C4C4;
}

.sidebar-container div ul .eyes{
  list-style: none;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.sidebar-container .officer{
  padding: 1rem 0 1.5rem 0;
  border-bottom: 1px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.sidebar-container .officer img{
  width: 64.093px;
  height: 64.093px;
  border-radius: 50%;
}
.sidebar-container li .images{
  width: 24px;
  height: 23.848px;
  flex-shrink: 0;
  color: #FFFFFF;
}
.sidebar-container li a{
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 227px;
  padding: 10px 0px 10px 1px;
  align-items: flex-start;
  gap: 10px;
}

.Navbar{
  position: fixed;
  border-bottom: 1px solid rgba(0, 0, 0, 0.68);
  background: #FFF;
  display: flex;
  align-items: center;
  padding: .5rem;
  width: 100%;
}
.Navbar .search{
  display: flex;
  width: 528px;
  padding: 7px 39px 8px 22px;
  margin-left: 31rem;
  margin-right: 14rem;
  align-items: center; 
  border-radius: 45px;
  border: 1px solid #0E346C;
  background: #0E346C;
  color: rgba(255, 255, 255, 0.50);
  gap: .5rem;
}
.Navbar .search i{
  color: rgba(255, 255, 255, 0.50);
  font-size: 25px;
}
.Navbar .search input{
  background: none;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.50);
  width: 100%;
}
.Navbar .search input::placeholder{
  color: rgba(255, 255, 255, 0.50);
  font-size: 16px;
}

.Navbar .officer2{
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: .5rem;
  padding-left: .5rem;
  border-left: 1px solid #000;
}

.overview {
  margin-left: 18rem;
  margin-top: 4rem;
}
.overview h3{
  color: #000;
  font-size: 16px;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.overview-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
  gap: 1rem;
}

.overview-container .overview-box{
  width: 274px;
  height: 193px;
  background: #4E91A7;
  padding: 0;
  margin: 0;
}
.overview-container .overview-box:nth-child(2){
  width: 274px;
  height: 193px;
  background: #738287;
  padding: 0;
  margin: 0;
}

.overview-container .overview-box:nth-child(3){
  width: 274px;
  height: 193px;
  background: #2F4A8E;
  padding: 0;
  margin: 0;
}

.overview-container .overview-box:nth-child(4){
  width: 274px;
  height: 193px;
  background: #4D4D4D;
  padding: 0;
  margin: 0;
}

.overview-box h1{
  color: #FFF;
  font-size: 64px;
  font-weight: 200;
  padding: 2rem 0 0 1rem;
}

.overview-box h3{
  color: #FFF;
  padding-left: 1rem;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 600;
}

.overview-box .info{
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  background: #2B5C6C;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview-box .info:hover{
  background: #265260;
}

.overview-container .overview-box:nth-child(2) >.info:nth-child(3){
  background: #565C5E;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview-container .overview-box:nth-child(2) >.info:nth-child(3):hover{
  background: #464b4d;
}

.overview-container .overview-box:nth-child(3) >.info:nth-child(3){
  background: #24386B;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview-container .overview-box:nth-child(3) >.info:nth-child(3):hover{
  background: #20315e;
}

.overview-container .overview-box:nth-child(4) >.info:nth-child(3){
  background: #2D2D2E;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview-container .overview-box:nth-child(4) >.info:nth-child(3):hover{
  background: #222223;
}

.Chart-Table{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Chart{
  width: 400px;
  height: 400px;
  margin-left: 23rem;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.chart-p{
  margin: 3.5rem 0 3rem 10rem;
  font-size: 24px;
  color: #000;
}

.Table{
  margin-right: 1rem;
}
.Table h3{
  line-height: 2.5;
  color: #000;
}
.Table .id{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding-right: 1rem;
  width: 330px;
  background: #0E346C;
  border-bottom: 1px solid #ffffff;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
}

.Table .id:nth-child(2){
  background: #595959;
  font-size: 20px;
}

.Table .id span:nth-child(1){
  width: 1rem;
  height: 4rem;
  padding: 1rem 3rem 1rem 1rem;
  border-right: 1px solid #000;
  text-align: center;
  line-height: 1.5;
}
.Table .id span:nth-child(2) {
  width: 9rem;
  line-height: 3.5;
}

.Table .id span.crime-table {
  width: 100%;
  
}

.Table .id img{
  align-self: center;
  width: 2rem;
}

.footer-container {
  left: 0;
  bottom: 0;
  width: 100%;
  background: #151515;
  padding: 2rem 0 2rem 18rem;
  margin-top: 10rem;
} 

.criminal-record{
  margin: 6rem 0 4rem 25rem;
  color: #000;
}
.criminal-record .add-text{
  margin-left: 17rem;
  margin-bottom: 4rem;
}
.add-container{
  display: flex;
  gap: 6rem;

}

.add-box ul p{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin: .5rem 0 .5rem 0;
}

.add-box ul input{  
  width: 313px;
  height: 35px;
  padding: 0px 7.72px 0px 5px;
  border-radius: 5px;
  border: 0.7px solid #000;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
  background: none;
  box-shadow: 1px 3px 10px  rgba(162, 162, 162, 0.68);
}

.add-box .biometric{
  text-align: center;
  padding-top: 2rem;
}

.add-box .biometric .finger-capture{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;
  
}

.addBtn{
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  padding: 1rem;
  border-radius: 10px;
  background: #0E346C;
  border: none;
  color: #FFF;
  margin-top: 4rem;
  margin-left:20rem;
}

.view-record{
  margin: 6rem 0 4rem 18rem;
  color: #000;
}

.view-records-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
  font-size: 14px;
}
.view-records-container .entries p{
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.view-records-container .entries2 p{
  display: flex;
  align-items: center;
  gap: .5rem;
  color: #FFF;
  font-size: 14px;
  margin-left: 8rem;
  margin-bottom: .5rem;
  background: #1569E5;
  padding: 1rem;
}

.view-records-container .entries2 ul{
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-left: 4.5rem;
}
.view-records-container .entries2 ul input{
  width: 138px;
  height: 24px;
  padding: .8rem;
  border-radius: 45px;
  outline: none;
  border: 0.7px solid rgba(0, 0, 0, 0.50);
  box-shadow: 1px 3px 10px  rgba(162, 162, 162, 0.68);
}

table{
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: center;
  height: 1000px;
}

.thead, th{
  background: #0E346C;
  color: #FFF;
  padding: .5rem;  
  width: 8rem;
  font-size: 14px;
  font-weight: 400;
}

tbody tr td{
  border-right: 1px solid #000;
}

.skip{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  gap: 1rem;
  word-spacing: 1rem;
  color: #2D2D2E;
  margin-top: 3rem;
}

.skip i{
  font-size: 2rem;
}